img{
  height: 100%;
}

img.ui-panel-images {
  height: 100%;
}

.align-right {
  text-align: right;
}
.align-center{
  text-align: center;
}

.char-name {
  font-weight: 600;
  color:#666
}

.char-value{
  color:#555
}

.char-name, .char-value {
  font-size: 1.2rem;
}

.resume-header {
  display:inline;
  border-left:1px solid #999
}

.resume-span{
  margin: 0 10px;
}

.resume-bar{
  height: 39px;
  background: #eee;
  padding-top: 8px;
  padding-left: 30px;
}

.price{
  font-size: 1.8rem;
  font-weight: lighter;
  color: #297d29;
}

.mini-img{
  height: 70px;
  width: auto;
}

.is-active{
  visibility: hidden;
}

h4{
  padding-top: 30px;
}


@media (max-width: 576px){
  .pad-30 {
      padding: 30px 20px;
  }
}
