
    <div class="row">

      <div class="col-12">
        <input [(ngModel)]="searchText" placeholder="Buscar por marca...">
      </div>
      <ng-container *ngFor="let car of carsToShow | filterBrand : searchText">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="car-box">
            <img class="car-thumbnail" [src]="car.thumbnail" />
            <div class="car-resume">
              <span class="brand"></span>{{car.brand}}  <span class="model">  {{car.model}}  </span><span class="year">  {{car.year}}</span>
            </div>
            <div class="car-price">
              <span>{{car.price}}</span>
            </div>
          </div>

        </div>
      </ng-container>
    </div>
