.car-box {
    border: 1px solid #999;
    margin-top: 20px;
}

.car-box:hover{
    box-shadow: 5px 10px 18px #888888
}

img.car-thumbnail {
    width: 100%;
    height: auto;
}

.car-resume {
    text-align: center;
}

.car-price {
    text-align: center;
}
a{
  color: inherit;
}

a:hover{
  color:#17a2b8;
  text-decoration: none;

}

.select{
  filter: grayscale();
}

.green-check{
  color: green;
  position: absolute;
  top: 110px;
  left: 140px;
}

.btn-comparar {
    text-align:center;
    padding-top: 10px;
}

@media (min-width: 576px){
  .btn-comparar {
      text-align:right;
  }
}
