.car-box {
    border: 1px solid #999;
    margin-top: 20px;
}

.car-box:hover{
    box-shadow: 5px 10px 18px #888888
}

img.car-thumbnail {
    width: 100%;
    height: auto;
}

.car-resume {
    text-align: center;
}

.car-price {
    text-align: center;
}
a{
  color: inherit;
}

a:hover{
  color:#b71717;
  text-decoration: none;

}
