footer {
    height: 70px;
    border-top: 1px solid;
    background: #b71717;
}

.app-body {
    min-height: calc(100vh - 120px);
}

.topbar{
  height: 50px;
  background: #b71717;
}

.white-col{
  color: white;
  padding: 0 10px;
}
