footer {
  height: 70px;
  border-top: 1px solid;
  background: #777;
  text-align: center;
  color: white;
  font-size: 1.25em;
}

.app-body {
    min-height: calc(100vh - 120px);
}

.topbar{
  height: 50px;
  background: rgba(0,0,0,0.8);
  color:white;
}

.white-col{
  color: white;
  padding: 0 10px;
}
