<section class="topbar">
  <div class="row">
    <div class="col-12" style="padding: 13px 40px;">
      Vitrina Automotriz
    </div>
  </div>
</section>


<section  class=" app-body">
  <router-outlet></router-outlet>
</section>


<footer>
  <div class="row" style="padding-top:17px">
    <div class="col-6 col-lg-4 d-none d-sm-block" style="    padding-top: 5px;">
      Vitrina Automotriz
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="text-align:center">
      <a class="white-col" href="https://github.com/torresdaniel11" target="_blank"> <i class="fa fa-github fa-2x"></i>   </a>
      <a class="white-col" href="https://www.linkedin.com/in/datola/" target="_blank"> <i class="fa fa-linkedin fa-2x"></i>   </a>
      <span style="font-size:1.7rem"> 🇨🇴</span>
    </div>
  </div>
</footer>
