<section class="topbar">
  <div class="row">
    <div class="col-12">
      Banner..
    </div>
  </div>
</section>


<section  class=" app-body">
  <router-outlet></router-outlet>
</section>


<footer>
<div class="row" style="padding-top:17px">
  <div class="col-6 col-lg-4">
      Vitrina Automotriz®
  </div>
  <div class="col-6 col-lg-4" style="text-align:center">
    <a class="white-col" href="https://github.com/torresdaniel11" target="_blank"> <i class="fa fa-github fa-2x"></i>   </a>
    <a class="white-col" href="https://www.linkedin.com/in/datola/" target="_blank"> <i class="fa fa-linkedin fa-2x"></i>   </a>
    <span> 🇨🇴</span>
  </div>
  <div class="col-12 col-lg-4">
    ...
  </div>
</div>
</footer>
